<div class = "menuAfterHome">
{{#if currentUser}}
<a class = "item" href="Home">Home</a>
<a class = "item" href="events">Events</a>
<a class = "item" href="create-event">Create Event</a>
<a class = "item" href="LogOut">Logout</a>
{{else}}
<a class = "item" href="Login">Login</a>
<a class = "item" id = 'Register' href="signup">Sign Up</a>
{{/if}}
</div>

<body class="login">
<div class = "centerLogin">
<h2>Login to be up to date about music events</h2>
<form action="/login" method="POST" id="login-form">
<label for="" class="textFieldLeft">Email</label>
<input type="text" name="email">
<br><br>
<label for=""class="textFieldLeft">Password</label>
<input type="password" name="password">
<br><br>
<button type="submit" class = "loginButton">Login</button>
</form>
</div>
{{#if errorMessage}}
<div class="error-message">{{errorMessage}}</div>
{{/if}}
</body>