<a href="Home">Home</a>
<h2>Login for get in touch with Musicians helping you to reach your aim!</h2>
<form action="/lessons" method="POST" id="login-form">

<label for="">Email</label>
<input type="text" name="email">
<br><br>

<label for="">Password</label>
<input type="password" name="password">
<br><br>

<button type="submit" id = "login">Login</button>
</form>

</form>