/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


a {
  color: #00B7FF;}
}*/

/*-webkit-any-link is in developer tools a standard default purple which has to be set off like this*/

.menuAfterHome {
  a:-webkit-any-link {
    color: white;
  }
}

a:-webkit-any-link {
  color: black;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 40px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  }

/* Änderungen Vanessa */  
/*.menu{  
  width: 100%;
  height: 10%;
  text-decoration: none;
  color: #717171;
  font: 25px Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
}*/


.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color:black;
}

.menuAfterHome{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  background-color: transparent;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  color: white;}


.item {
  text-decoration: none;
  align-items: center;
  }

footer{
  font-family: Georgia;
  text-align: center;
  font-size: 25px;
  margin-top: 3rem;
}

 * {box-sizing:border-box} *

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.events {
background-image: url(../images/stage.jpg);
background-size: cover;
color: white;
font-size: 30px;
}
/*geht nicht, sonst wird durch{{body}} auch der bilder slide zum hingergrundbild
.events-header {
  color: white;
  background-color: transparent;
  margin: 
} 
*/

.news {
background-image: url(../images/news.jpg);
background-size: cover;
color: white;
font-size: 30px;
}

.lessons{
  background-image: url(../images/lessons.jpg);
  background-size: cover;
  color: white;
  font-size: 30px;
}

.login{
  background-image: url(../images/login.jpg);
  background-size: cover;
  color: white;
  font-size: 30px;
}

.signup{
  background-image: url(../images/signup.jpg);
  background-size: cover;
  color: white;
  font-size: 30px;

}
#events {
  text-align:center;
  margin-top: 7rem;
  font-size: 40px;
 }
.event :visited {
  color:white;
  }

#news {
  text-align:center;
  margin-top: 7rem;
  font-size: 40px;
}
